# Server-side environment variables (required)
NODE_ENV=development

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/mydb

# Client-side environment variables (required, must be prefixed with VITE_)
VITE_APP_URL=http://localhost:3000

# Your Sentry DSN (from your Sentry account)
VITE_SENTRY_DSN=

# Your Sentry organization (from your Sentry account)
VITE_SENTRY_ORG=

# Your Sentry project (from your Sentry account)
VITE_SENTRY_PROJECT=

# Your Sentry authentication token (from your Sentry account)
SENTRY_AUTH_TOKEN=